.header
    margin-top: 45px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

.header__logo
    cursor: pointer

.header__link
    padding: 0 20px
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 19px
    color: #4F5665
    text-decoration: none

.header__btn
    padding: 13px 45px
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 19px
    color: $red
    border: 1px solid $red
    border-radius: 50px
    text-decoration: none

.border-none
    margin-right: 30px
    padding: 0
    border: none
    color: #0B132A

.title 
    margin-top: 90px
    width: 100%
    display: flex
    justify-content: space-between

.title__name 
    font-style: normal
    font-weight: 500
    font-size: 50px
    line-height: 70px
    color: #0B132A

.title__text 
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 30px
    color: #4F5665
    margin-bottom: 60px

.title__btn
    padding: 17.5px 77.5px 
    background: $red
    border-radius: 10px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 25px
    color: #FFFFFF
    text-decoration: none


.counter 
    padding: 0 90px
    margin-top: 100px
    width: 100%
    display: flex
    justify-content: center

.counter__item
    display: flex
    align-items: center 

.counter__item:nth-child(2):before
    margin: 0 113px
    content: ''
    width: 0
    height: 125px
    border: 2px solid #EEEFF2

.counter__item:nth-child(2):after
    margin: 0 120px
    content: ''
    width: 0
    height: 125px
    border: 2px solid #EEEFF2

.counter__icon 
    margin-right: 36.5px
    width: 55px
    height: 55px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background: #ffecec

.counter__text 
    flex-shrink: 2

.counter__number 
    font-style: normal
    font-weight: bold
    font-size: 25px
    line-height: 30px
    color: #0B132A

.counter__title 
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 30px
    color: #4F5665
